<!DOCTYPE html>

<title>Hello ServiceController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>bonjour {{n | upper}}</h1>
     
    {% for i in a %} 
        <img src="{{ i.picture }}" alt="Photo de l'auteur">

    {% if i.nb_books > 0 %}
    <li>{{ i.username|upper  }}</li> 
    
    <input type"submit" value="buy" >
    {% else %}
        <li>{{ i.username|lower  }}</li> 
         
    {% endif %} 
    
      {% endfor %}                                                                                                                                                

    
</div>
{% endblock %}
